
@keyframes slideInFromLeft {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

.bar{
    box-shadow: 0px 1px 3px #888888;
    transition: all .3s ease-out;
    position: -webkit-sticky; /*Safari*/
    position: sticky;
    width: 100%;
    top:0;
    bottom:0;
    left:0;
    z-index: 2147483647;

    animation: 0.5s ease-out 0s 1 slideInFromLeft;
}

.bar-child-img {
    vertical-align: middle;
    border-radius: 15px;
}

.bar-child{
    border-radius: 15px;
    background-color: white;
    cursor: pointer;

    /* for gradient */
    /* position: relative;
    border: 0px solid transparent;
    border-radius: 15px;
    background: linear-gradient(45deg, red, orange);
    background-clip: padding-box; */
}

/* for gradient */
/* .bar-child::after {
    position: absolute;
    top: -3px; bottom: -3px;
    left: -3px; right: -3px;
    background: linear-gradient(45deg, red, orange);
    content: '';
    z-index: -1;
    border-radius: 15px;
} */

.bar-header{
    text-align: center;
    font-family:'Segoe UI';
    font-size: 16px;
    padding-bottom: 3px;
    /* position: inherit; */
}

.bar-products{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* position: inherit; */
    /* background-color: #e2e1e1; */
}
